[user]
	email = taiki@konnyak.com
	name = "Taiki Kanda"

[core]
	editor = vim

[color]
	ui = true

[alias]
	cm = commit
	ps = push
	st = status

[credential "https://github.com"]
        helper = 
        helper = !/usr/bin/gh auth git-credential